*{
  padding: 30px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

.btn-primary{
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(61, 160, 227);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
}

.view-tasks{
  width: 80%;
  margin: 40px ;
  border: 1px solid rgb(153, 144, 144);
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 40px;
}
.view-tasks ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.view-tasks ul li{
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

}

.delete-btn{
  background-color: red;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  float:right;
  position: relative;
  top: -14px;
}
